.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  /* height: 38vh; */
  width: 15rem;
  padding: 0.5rem;
  /* background-color: red; */
  cursor: pointer;
  

}
.avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
  /* background-color: pink; */
  

}
.avatar > img{
  height: 9rem;
  
}